<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CognitiveAssestmentApp"
        tools:targetApi="31">

        <activity
            android:name=".statistics.StatisticsBAS"
            android:exported="false" />
        <activity
            android:name=".statistics.StatisticsMIS"
            android:exported="false" />
        <activity
            android:name=".statistics.StatisticsTYM"
            android:exported="false" />
        <activity
            android:name=".games.TYM.SentenceAgain"
            android:exported="false" />
        <activity
            android:name=".games.TYM.ComparisonQuestions"
            android:exported="false" />
        <activity
            android:name=".games.TYM.Animals"
            android:exported="false" />
        <activity
            android:name=".games.TYM.MathQuestions"
            android:exported="false" />
        <activity
            android:name=".games.TYM.GeneralQuestions"
            android:exported="false" />
        <activity
            android:name=".games.TYM.CopySentence"
            android:exported="false" />
        <activity
            android:name=".games.TYM.BasicQuestions"
            android:exported="false" />
        <activity
            android:name=".games.MIS.DistractorActivity"
            android:exported="false" />
        <activity
            android:name=".games.MIS.ItemActivity"
            android:exported="false" />
        <activity
            android:name=".games.MIS.MisActivity"
            android:exported="false" />
        <activity
            android:name=".games.MIS.FreeRecallActivity"
            android:exported="false" />
        <activity
            android:name=".games.BAS.AnimalInput"
            android:exported="false" />
        <activity
            android:name=".games.BAS.RememberWords"
            android:exported="false" />
        <activity
            android:name=".games.BAS.RememberWordsInput"
            android:exported="false" />
        <activity
            android:name=".games.BAS.SpellWorldBackwards"
            android:exported="false" />
        <activity
            android:name=".registration.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registration.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".registration.BaseActivity"
            android:exported="true" />
        <activity
            android:name=".registration.MenuActivity"
            android:exported="true" />
    </application>

</manifest>